<h1>Metro İstanbul Bilet Fiyatları</h1>

<% @ticket_prices.each do |ticket_type| %>
  <h2><%= ticket_type['Type'] %></h2>
  <ul>
    <% ticket_type['TicketPrices'].each do |ticket_price| %>
      <li><%= ticket_price['Name'] %>: <%= ticket_price['Price'] %></li>
    <% end %>
  </ul>
<% end %>