<!-- Image and text -->
<nav class="navbar navbar-dark" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">
    <img src="https://www.ibb.istanbul/assets/images/logos/main-logo-dark.png",width="2" height="44"  class="d-inline-block align-top" alt="">
    
  </a>
</nav>